body {
    background: rgba(32, 39, 51, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.box {
    width: 540px;
    border-radius: 15px;
    background: rgba(49, 58, 72, 1);
    padding: 30px;
    text-align: center;
}
button{
    width: 64px;
height: 64px;
background: rgba(83, 255, 170, 1);
border: 1px solid rgba(83, 255, 170, 1);
border-radius: 50%;
position: relative;
top: 60px;
}
.advais{
    color: rgba(83, 255, 170, 1);
    font-size: 18px;   
}
.text{
font-size: 28px;
font-weight: 800;
color: rgba(206, 227, 233, 1);

}
.row{
    width: 196px;
height: 1px;
background: rgba(79, 93, 116, 1);
margin: 20px;
position: relative;
top: 50px;
}
.svg2{
    position: relative;
    top: 50px; 
}
.rowdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
